.DS_Store
.hugo_build.lock

# Hugo build output / cache
public/
resources/

# LaTeX build artifacts
cv/*.aux
cv/*.bbl
cv/*.bcf
cv/*.blg
cv/*.fdb_latexmk
cv/*.fls
cv/*.log
cv/*.out
cv/*.pdf
cv/*.run.xml
cv/*.synctex.gz
cv/*.toc
