.DS_Store
.hugo_build.lock

# Hugo build output / cache
public/
resources/

# LaTeX build artifacts
content/cv/*.aux
content/cv/*.bbl
content/cv/*.bcf
content/cv/*.blg
content/cv/*.fdb_latexmk
content/cv/*.fls
content/cv/*.log
content/cv/*.out
content/cv/*.pdf
content/cv/*.run.xml
content/cv/*.synctex.gz
content/cv/*.toc
content/cv/*.xdv
static/cv.pdf
