{{- define "main" }}

{{- if site.Params.profileMode.enabled }}
  {{- partial "index_profile.html" . }}
{{- else }}
  {{- if site.Params.homeInfoParams }}
    {{- partial "home_info.html" . }}
  {{- end }}
{{- end }}

{{- $news := first 5 (sort (where site.RegularPages "Section" "news") "Date" "desc") }}
{{- $posts := first 5 (sort (where site.RegularPages "Section" "posts") "Date" "desc") }}

{{- if $news }}
<header class="page-header">
  <h1><a href="{{ "news/" | absURL }}">Recent News</a></h1>
</header>
{{- range $news }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  <footer class="entry-footer">
    {{- .Date.Format "Jan 2, 2006" -}}
  </footer>
  {{- if and .Summary (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  <a class="entry-link" aria-label="news link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>
{{- end }}
{{- end }}

{{- if $posts }}
<header class="page-header">
  <h1><a href="{{ "posts/" | absURL }}">Recent Blog Posts</a></h1>
</header>
{{- range $posts }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ .Title }}</h2>
  </header>
  <footer class="entry-footer">
    {{- .Date.Format "Jan 2, 2006" -}}
  </footer>
  {{- if and .Summary (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .RelPermalink }}"></a>
</article>
{{- end }}
{{- end }}

{{- end }}
